<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walker (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,380}</string>
                <key>spriteSourceSize</key>
                <string>{253,380}</string>
                <key>textureRect</key>
                <string>{{1158,1},{253,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walker (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,395}</string>
                <key>spriteSourceSize</key>
                <string>{189,395}</string>
                <key>textureRect</key>
                <string>{{448,1},{189,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walker (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,399}</string>
                <key>spriteSourceSize</key>
                <string>{125,399}</string>
                <key>textureRect</key>
                <string>{{130,1},{125,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walker (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,395}</string>
                <key>spriteSourceSize</key>
                <string>{131,395}</string>
                <key>textureRect</key>
                <string>{{639,1},{131,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walker (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,384}</string>
                <key>spriteSourceSize</key>
                <string>{253,384}</string>
                <key>textureRect</key>
                <string>{{903,1},{253,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walker (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,396}</string>
                <key>spriteSourceSize</key>
                <string>{189,396}</string>
                <key>textureRect</key>
                <string>{{257,1},{189,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walker (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,399}</string>
                <key>spriteSourceSize</key>
                <string>{127,399}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walker (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,394}</string>
                <key>spriteSourceSize</key>
                <string>{129,394}</string>
                <key>textureRect</key>
                <string>{{772,1},{129,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>walker.png</string>
            <key>size</key>
            <string>{1412,401}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6751e380ec7ab9f5b662bcb465942f84:09284ab96002de87b6537bbf26557ac8:396e2a77cb9ab1e729a3bcb3432f1a61$</string>
            <key>textureFileName</key>
            <string>walker.png</string>
        </dict>
    </dict>
</plist>
