<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walkers (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,405}</string>
                <key>spriteSourceSize</key>
                <string>{383,405}</string>
                <key>textureRect</key>
                <string>{{1530,1},{383,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkers (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,403}</string>
                <key>spriteSourceSize</key>
                <string>{379,403}</string>
                <key>textureRect</key>
                <string>{{1562,408},{379,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkers (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,410}</string>
                <key>spriteSourceSize</key>
                <string>{357,410}</string>
                <key>textureRect</key>
                <string>{{830,835},{357,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkers (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,407}</string>
                <key>spriteSourceSize</key>
                <string>{366,407}</string>
                <key>textureRect</key>
                <string>{{1162,1},{366,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkers (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,405}</string>
                <key>spriteSourceSize</key>
                <string>{366,405}</string>
                <key>textureRect</key>
                <string>{{1242,818},{366,405}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkers (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,411}</string>
                <key>spriteSourceSize</key>
                <string>{343,411}</string>
                <key>textureRect</key>
                <string>{{817,1},{343,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkers (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,406}</string>
                <key>spriteSourceSize</key>
                <string>{361,406}</string>
                <key>textureRect</key>
                <string>{{1199,410},{361,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkers (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,412}</string>
                <key>spriteSourceSize</key>
                <string>{314,412}</string>
                <key>textureRect</key>
                <string>{{416,875},{314,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkers (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,413}</string>
                <key>spriteSourceSize</key>
                <string>{306,413}</string>
                <key>textureRect</key>
                <string>{{1,883},{306,413}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkers (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,414}</string>
                <key>spriteSourceSize</key>
                <string>{381,414}</string>
                <key>textureRect</key>
                <string>{{816,419},{381,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkers (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,409}</string>
                <key>spriteSourceSize</key>
                <string>{430,409}</string>
                <key>textureRect</key>
                <string>{{405,443},{430,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkers (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,405}</string>
                <key>spriteSourceSize</key>
                <string>{440,405}</string>
                <key>textureRect</key>
                <string>{{1,1},{440,405}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkers (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,402}</string>
                <key>spriteSourceSize</key>
                <string>{438,402}</string>
                <key>textureRect</key>
                <string>{{1,443},{438,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkers (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,407}</string>
                <key>spriteSourceSize</key>
                <string>{416,407}</string>
                <key>textureRect</key>
                <string>{{408,1},{416,407}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>walkers.png</string>
            <key>size</key>
            <string>{1942,1193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6319854c8438d668b76f3e5b5def034:a2b5d5a7456e9838f68930e640a4960e:8018ac651778128e16017dfd90c87d8f$</string>
            <key>textureFileName</key>
            <string>walkers.png</string>
        </dict>
    </dict>
</plist>
